body{
  background-color: #000;
  color: #AAA;
  margin-left: 25vw;
  margin-right: 25vw;
}

header{
  height: 15vh;
  position: relative;
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

p{
  /*margin-left: 25vw;
  margin-right: 25vw;*/
}

hr{
  width: 75vw;
  visibility: hidden;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

footer{
  position: fixed;
  bottom: 0;
  color: #888;
  font-size: small;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
